html, body { height: 100%;}
.bloco{  min-height: 100%; padding-top: 94px;}
/*
body{background-color:rgb(197, 197, 197) ;}*/

body{ background-image: url("../img/plano.png"); color:whitesmoke;}
/* LOGO */
.logo-text{ font-size: 0; margin: 0;}
.logo-img{width: 100px; margin-top: 6px;}
.logo-rodape{width: 50px;}


/* MENU */
.navbar ul a:hover{ font-size: large;
    background-color: rgb(63, 72, 250);}
.nav-color{ background-color: rgb(63, 72, 204); }

/* HOME */
.banner h2{ font-size: 2.5rem; font-weight: 900; text-transform: uppercase;}
.banner p{ font-size:1.8rem; font-weight: 500; line-height: 1.8rem; }


/* QUEM SOU */
.quem-sou h2::after{ content: " "; display: block; width: 100%; border-top: solid; color: rgb(63, 72, 204); margin: 15px;  }
.quem-sou p{ line-height: 1.8rem; text-align: justify;}

/*CERTIFICAÇÕES*/
.certificacoes h2::after{ content: " "; display: block; width: 100%; border-top: solid; color: rgb(63, 72, 204); margin: 15px;  }
.certificacoes p{ line-height: 1.8rem; }
.certificacoes .card{ background-color: rgb(63, 72, 204); color: white;}
.certificacoes h5{ font-size: 1.2rem; text-transform: uppercase; font-weight: 700;}
.certificacoes h3{ font-size: 2rem; text-transform: uppercase; font-weight: 900; color: rgb(63, 72, 204);}


/*REDES SOCIAIS */
.redes-sociais h2::after{ content: " "; display: block; width: 100%; border-top: solid; color: rgb(63, 72, 204); margin: 15px;  }
.redes-sociais p{ line-height: 1.8rem; }
.redes-sociais .card{ background-color: transparent;}
.redes-sociais h3{ color: rgb(63, 72, 204);font-size: 2.0rem; text-transform: uppercase; font-weight: 900;}

/*FALE COMIGO */
.fale-comigo h4{ font-size: 1.2rem; text-transform: uppercase; font-weight: 900;}
.fale-comigo h2::after{ content: " "; display: block; width: 100%; border-top: solid; color: rgb(63, 72, 204); margin: 15px;  }
.fale-comigo p{ line-height: 1.8rem; }
.fale-comigo .mapa { min-height: 500px; }
.fale-comigo .mapa iframe{ width: 100%; min-height: 500px;  border-color: rgb(63, 72, 204);}
.fale-comigo .formulario, .informacoes{ min-height: 500px; padding: 30px;}

/*RODAPÉ*/
.rodape{ padding: 7px 0; background-color: rgb(63, 72, 204); padding-bottom:1px;}

/* CUSTOM */

nav {
  color: #fff;
  background-color: rgba(63, 72, 204);
  width: 100%;
  height: 110px;
  line-height: 110px;
  font-size: 1.2rem; text-transform: uppercase; font-weight: 700;}
}
nav.nav-extended .nav-wrapper {
  min-height: 110px;
  height: auto;
}

.navbar-fixed {
  position: absolute;
  height: 94px;
  z-index: 997;
}
.modal-close{ min-width: 150px; min-height: 40px;border-radius: 5px; font-size: 1.2rem; text-transform: uppercase; font-weight: 800;}}
.modal-close:hover{ background-color: black;}

.btn:hover{ background-color: black;}
.blue-logo, .btn {
    background-color: rgba(63, 72, 204);
} 


/* NAV BAR DO MOBILE*/
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 36px;
  height: 94px;
  line-height: 110px;
}

.sidenav {
  background-image: url("../img/plano.png");
  margin-top: 110px;
}
.sidenav li>a{ color:whitesmoke; font-size: 1.2rem; text-transform: uppercase; font-weight:900;}
.sidenav a:hover{ color: rgb(63, 72, 204);}


/*MEDIA*/
@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 601px) {
.banner { padding-top: 4.5rem;}
.banner h2{font-size: 4rem;}

  }
  
@media only screen and (min-width: 993px) {
  .banner{ padding-top: 7rem;}
  .banner h2{font-size:5rem; }
 /*.container{ width: 90%;}*/
}


/*Home Animation*/
/*@keyframes mudarbg{
  40% {background-image:url("../img/olindina1.jpg");}
  80% {background-image:url("../img/olindina2.jpg");}
} */
